[Desktop Entry]
Name=XboxForGOD
Comment=Conversor de ISO Xbox 360 para formato GOD
Exec=xboxforgod
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Game;
Keywords=xbox;iso;god;converter;
StartupWMClass=xboxforgod
